  .itemdetailContainer{
        position: relative;         
        top: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
  }
 
