.footer{
    position: relative;
    top: 160px;
}
.footer__iconos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-muted{
    /* position: relative;
    top: 50px; */
    text-align: center;

}