.container{
    position: relative;
    top: -20px;
    border-radius: 10px;   
    
}
.container  > .container{
    /* position: relative; */
    /* top: -30px; */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 0px;
} 

.container > .container > .btn{
    position: relative;
    top: -3px;
    text-decoration: none;
    font-weight: 700;
} 
.container > .container > p{
    position: relative;
    top: 5px;
}
/* .btn-Add > .btn{ */
 .btn.btn-secondary{
    width: 100%;
    margin-bottom: -20px;
    position: relative;
    top:-40px
}

.sinStock{
    position: relative;
    top:-30px;
    text-align: center;
}
.desabilitado{
    pointer-events: none
}
.icono{
    width: 30px;
}

.sinStock{
     position: relative;
    top: -30px; 
}